@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@font-face{
    font-family: 'Digital7';
    src: url('https://raw.githubusercontent.com/Ozzymand/Ozzymand/master/CustomFonts/Digital7.woff2') format('woff2');
    /* src: url('./Digital7.woff2') format('woff2'); */
}

:root{
    --dark-primary: #353535;
    --dark-secondary: #454545;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-color: #303030;;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

/* remove hyperlink underline */
a {
    color: #fff;
    text-decoration: none;
}
/* remove list padding and margin */
ul, ol {
    margin: 0;
    padding: 0;

}

li {
    /* Content Style */
    background-color: #454545;
    list-style: none;
    color: white;
    border: #414141;
    border-width: 2px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20vh; /* idk man */
}

.navbar{
    background-color: #404040;
    width: 20%;
    height: 100%;
    position: fixed;
    font-size: calc(1.5vh + 1.5vw);
    z-index: 3;
}

.calculator{
    background-color: black;
    color: #fff;
    width: 80%;
    height: 90.9%;
    position: fixed;
    right: 0;
    z-index: 1;
}

.display{
    color: #000000;
    width: 100%;
    height: 20%;
    background: radial-gradient(circle, rgba(211,226,226,1) 0%, rgba(181,177,149,1) 100%);
    position: relative;
    overflow: hidden;
}

.display-text{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

#history{
    font-family:'Digital7';
    color: rgba(16, 16, 16, 0.65);
    font-size: 5vh;
    display: flex;
    justify-content: end;
}

#result{
    font-family:'Digital7';
    font-size: 10vh;
    display: flex;
    justify-content: end;
}

button{
    margin: 0px;
    padding: 0%;
    font-size: 5vh;
    color: white;
}

.keypad{
    font-size: 0;
    display: flex;
    height: 100%;
}

.numbers, .numbers button{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: var(--dark-primary);
    border: #000000;
    border-style: solid;
    border-width: 1px;
    border-top: 1px;

}

.numbers button:hover{
    background: var(--dark-secondary);
}

#row1, #row1 button, #row2, #row2 button, #row3, #row3 button, #row4, #row4 button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.operands{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    height: 90%;
    background: red;
}

#multiply, #multiply button, #divide, #divide button, #add, #add button, #substract, #substract button, #equal, #equal button, #clear, #clear button{
    position: relative;
    width: 100%;
    height: 100%;
}
#substract, #add, #multiply, #divide{
    background: #2c2c2c;
    border: #000000;
    border-style: solid;
    border-width: 1px;
    border-top: 1px;
}
#clear{
    background: rgb(200, 0, 0);
    border: #000000;
    border-style: solid;
    border-width: 1px;
    border-top: 1px;
}
#clear:hover{
    background: rgb(250, 0, 0);
}

#equal{
    background: #ffa600;
    border: #000000;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-top: 1px;
}
#equal:hover{
    background: #f1bb55;
}

#substract:hover, #add:hover, #multiply:hover, #divide:hover{
    background: var(--dark-secondary);
}

button:active{
    border: #000000;
    background: rgba(65, 65, 65, 0.8);
}
